html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr auto; /* Content takes remaining space, footer takes auto height */
}

body{
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root{
  display: flex;
  flex-direction: column;
}

